<template>
  <div>
      <h1>Sunergy</h1>
      <div class="container row">
          <div class="col-4">
                <form action="">
                  <input type="text" class="form-control" placeholder="nombre" v-bind:class="{'border border-danger': errors.has('nombre')}" v-model="nombre" v-validate="'required|max:50'" name="nombre">
                    <span class="text-danger">{{ errors.first('nombre') }}</span>
                    <br>
                <input type="text" class="form-control" placeholder="apellido paterno" v-bind:class="{'border border-danger': errors.has('apellido_paterno')}" v-model="apellido_paterno" v-validate="'required|max:50'" name="apellido_paterno">
                    <span class="text-danger">{{ errors.first('apellido_paterno') }}</span>
                    <br>
                <input type="text" class="form-control" placeholder="apellido materno" v-bind:class="{'border border-danger': errors.has('apellido_materno')}" v-model="apellido_materno" v-validate="'required|max:50'" name="apellido_materno">
                    <span class="text-danger">{{ errors.first('apellido_materno') }}</span>
                    <br>
                 <input type="text" class="form-control" placeholder="email" v-bind:class="{'border border-danger': errors.has('email')}" v-model="email" v-validate="'required|email|max:50'" name="email">
                    <span class="text-danger">{{ errors.first('email') }}</span>
                    <br>
                <input type="text" class="form-control" placeholder="telefono" v-bind:class="{'border border-danger': errors.has('telefono')}" v-model="telefono" v-validate="'required|max:80|numeric'" name="telefono">
                    <span class="text-danger">{{ errors.first('telefono') }}</span>
                    <br>
                <input type="password" class="form-control" placeholder="contraseña" v-bind:class="{'border border-danger': errors.has('password')}" v-model="password" v-validate="'required|max:50'" name="password" ref="password">
                    <span class="text-danger">{{ errors.first('password') }}</span>
                    <br>
                <input type="password" class="form-control" placeholder="confirmacion contraseña" v-bind:class="{'border border-danger': errors.has('password_confirmation')}" v-model="confirm_password" v-validate="'required|max:50|confirmed:password'" name="password_confirmation" data-vv-as="password">
                    <span class="text-danger">{{ errors.first('password_confirmation') }}</span>
                    <br>
                <select class="form-control" v-bind:class="{'border border-danger': errors.has('rol')}"  v-validate="'required'" name="rol" v-model="rol">
                    <option value="" disabled selected>Seleccione un rol</option>
                    <option v-for="(value,key) in roles"  :value="value" :key="key">
                         {{value}}
                    </option>
                </select>
                 <span class="text-danger">{{ errors.first('rolo') }}</span>
                 <br>
                 <button class="btn btn-primary" type="button" @click="guardar">Guardar</button>
              </form>
          </div>
          <div class="col-8">
                      <button id="nuevo" class="btn btn-primary" @click="nuevo">Nuevo</button>
                      <button id="editar" class="btn btn-info" @click="editar">Editar</button>
                      <button id="eliminar" class="btn btn-danger" @click="eliminar">Eliminar</button>

              <table class="table">
                <thead class="thead-dark">
                   <tr>
                      <th>Select</th>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Apellido Materno</th>
                      <th>Email</th>
                      <th>Telefono</th>
                      <th>Rol</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="(cliente,key) in clientes" :key="key">
                          <td><input type="radio" name="seleccionado" :value="key" @change="cambio" v-model="seleccionado"></td>
                          <td>{{cliente.nombre}}</td>
                          <td>{{cliente.apellido_paterno}}</td>
                          <td>{{cliente.apellido_materno}}</td>
                          <td>{{cliente.email}}</td>
                          <td>{{cliente.telefono}}</td>
                          <td>{{cliente.rol}}</td>
                    </tr>
                </tbody>
              </table>
          </div>

      </div>
  </div>
</template>

<script>
export default {
  name: 'register',
  data () {
    return {
      'nombre': '',
      'apellido_paterno': '',
      'apellido_materno': '',
      'email': '',
      'telefono': '',
      'password': '',
      'confirm_password': '',
      'rol': '',
      'roles': ['admin', 'usuario', 'invitado'],
      'clientes': [],
      'seleccionado': -1
    }
  },
  methods: {
    async guardar () {
      let valido = await this.$validator.validate()
      if (!valido) { return }
      if (this.seleccionado === -1) {
        this.clientes.push({
          'nombre': this.nombre,
          'apellido_paterno': this.apellido_paterno,
          'apellido_materno': this.apellido_materno,
          'email': this.email,
          'telefono': this.telefono,
          'password': this.password,
          'rol': this.rol
        })
      } else {
        this.clientes[this.seleccionado].nombre = this.nombre
        this.clientes[this.seleccionado].apellido_paterno = this.apellido_paterno
        this.clientes[this.seleccionado].apellido_materno = this.apellido_materno
        this.clientes[this.seleccionado].email = this.email
        this.clientes[this.seleccionado].telefono = this.telefono
        this.clientes[this.seleccionado].password = this.password
        this.clientes[this.seleccionado].rol = this.rol
        this.seleccionado = -1
      }
      this.nuevo()
    },
    nuevo () {
      this.nombre = ''
      this.apellido_paterno = ''
      this.apellido_materno = ''
      this.email = ''
      this.telefono = ''
      this.password = ''
      this.rol = ''
      this.confirm_password = ''
      this.$validator.reset()
    },
    cambio () {
      console.log('seleccionado')
      console.log(this.seleccionado)
    },
    editar () {
      if (this.seleccionado === -1) {
        alert('debe seleccionar un cliente')
        return
      }

      this.nombre = this.clientes[this.seleccionado].nombre
      this.apellido_paterno = this.clientes[this.seleccionado].apellido_paterno
      this.apellido_materno = this.clientes[this.seleccionado].apellido_materno
      this.email = this.clientes[this.seleccionado].email
      this.telefono = this.clientes[this.seleccionado].telefono
      this.password = this.clientes[this.seleccionado].password
      this.confirm_password = this.clientes[this.seleccionado].password
      this.rol = this.clientes[this.seleccionado].rol
    },
    eliminar () {
      if (this.seleccionado === -1) {
        alert('debe seleccionar un cliente')
        return
      }
      if (!confirm('estas seguro de eliminar el cliente ' + this.clientes[this.seleccionado].nombre)) { return }
      this.clientes = this.clientes.filter((value, key) => {
        return key !== this.seleccionado
      })
      this.seleccionado = -1
    }
  }

}
</script>

<style>
    h1{
        margin:auto;
    }
    #nav{
        display: none;
    }
</style>
