<template>
  <div>
    <form action="" method="post" v-on:submit.prevent="auth($event)" id="formulario">
      <input type="text" class="form-control" placeholder="email" v-bind:class="{'border border-danger': errors.has('email')}" v-model="email" v-validate="'required|email'" name="email">
      <span class="text-danger">{{ errors.first('email') }}</span>
      <input type="password" class="form-control" placeholder="Contraseña" v-model="clave" v-bind:class="{'border border-danger': errors.has('clave')}" v-validate="'required'" name="clave">
      <span class="text-danger">{{ errors.first('clave') }}</span>
      <button class="btn btn-primary" type="submit" v-bind:disabled="valido" >Acceder</button>
    </form>
      <div class="spinner-border" role="status" v-bind:style="{'display':spinner}">
        <span class="sr-only">Loading...</span>
     </div>
    <HeaderCustom/>
  </div>
</template>

<script>
import axios from 'axios'
import HeaderCustom from '../header/HeaderCustom'
export default {
  name: 'loign',
  components: {
    HeaderCustom
  },
  created () {
  },
  data () {
    return {
      email: '',
      clave: '',
      spinner: 'none',
      valido: true,
      validator: this.$validator
    }
  },
  methods: {
    async auth (event) {
      this.valido = await this.$validator.validate()
      console.log(this.valido, this.$validator)
      this.spinner = 'block'
      console.log(this.errors.count())
      axios.post('https://remotepcsolutions.com/blukastor/api/proveedores/auth',
        { correo: this.email, clave: this.clave },
        { headers: { key: 'RPCS_Ukf43pEj3Z8zA53a' } }).then((response) => {
        console.log(response)
        this.spinner = 'none'
      }).catch((error) => {
        console.log(error)
      })
    },
    async validar () {
      return await this.$validator.validateAll()
    }
  },
  computed: {
  },
  watch: {
    email: () => {
      console.log('hola')
    },
    validator: () => {
      console.log('errors')
    }

  }

}

</script>

<style scoped lang="scss">
    @import 'login.scss';
</style>
